appName: "onix-local"
log:
  level: debug
  destinations:
    - type: stdout
  contextKeys:
    - transaction_id
    - message_id
    - subscriber_id
    - module_id
http:
  port: 8083
  timeout:
    read: 30
    write: 30
    idle: 30
pluginManager:
  root: ./plugins
modules:
  - name: utilitybppTxnReceiver
    path: /bpp/receiver/
    handler:
      type: std
      role: bpp
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        registry:
          id: dediregistry
          config:
            url: http://api.testnet.beckn.one/registry/dedi
            registryName: subscribers.beckn.one
            timeout: 10
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: p2p-trading-sandbox3-bpp
            keyId: 76EU8cNkz3dBEVaR5THuyCciMv9FbA2QqDADHX88WPyYP4v5Cp9ADD
            signingPrivateKey: YW0ObrW6Ca+RLi+rVoxavW6dsC3BuzAx2v9qfutFUcc=
            signingPublicKey: vSAbdarosQEp7CGf18oYIjdG9ewS1gESsmY3TmfzZog=
            encrPrivateKey: YW0ObrW6Ca+RLi+rVoxavW6dsC3BuzAx2v9qfutFUcc=
            encrPublicKey: vSAbdarosQEp7CGf18oYIjdG9ewS1gESsmY3TmfzZog=
        cache:
          id: cache
          config:
            addr: redis:6379
        schemaValidator:
          id: schemavalidator
          config:
            schemaDir: ./schemas
        signValidator:
          id: signvalidator
        router:
          id: router
          config:
            routingConfig: ./config/local-p2p-routing-UtilityBPPReceiver.yaml
      steps:
        - validateSign
        - addRoute
  
  - name: utilitybppTxnCaller
    path: /bpp/caller/
    handler:
      type: std
      role: bpp
      httpClientConfig:
        maxIdleConns: 1000
        maxIdleConnsPerHost: 200
        idleConnTimeout: 300s
        responseHeaderTimeout: 5s
      plugins:
        registry:
          id: dediregistry
          config:
            url: http://api.testnet.beckn.one/registry/dedi
            registryName: subscribers.beckn.one
            timeout: 10
        keyManager:
          id: simplekeymanager
          config:
            networkParticipant: ev-charging.sandbox3.com
            keyId: 76EU7UtilityBX74BMNTQJMcMYoTMSzU7k71owUF53fN4jdxmosxZrdjdDk
            signingPrivateKey: hnMdzvcZBnLJ6W1f4Y2ZCLlJo4phKMvs48ZbXjbS7/k=
            signingPublicKey: H1xM/ejGIJpH+DmAF1A9KjBBLJ74pZ8B0gnZ4z4DIkU=
            encrPrivateKey: hnMdzvcZBnLJ6W1f4Y2ZCLlJo4phKMvs48ZbXjbS7/k=
            encrPublicKey: H1xM/ejGIJpH+DmAF1A9KjBBLJ74pZ8B0gnZ4z4DIkU=
        cache:
          id: cache
          config:
            addr: redis:6379
        router:
          id: router
          config:
            routingConfig: ./config/local-p2p-routing-UtilityBPPCaller.yaml
        signer:
          id: signer
        middleware:
          - id: reqpreprocessor
            config:
              uuidKeys: transaction_id,message_id
              role: bpp          
      steps:
        - addRoute
        - sign

